/*^Arrangement*/
main {
  display: flex;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 20px 30px;
  user-select: none;
  font-family: "Alexandria", sans-serif;
}

p {
  margin: 0;
}