/* Font Call */
@font-face {
  font-family: "Alexandria";
  src: url("alexandria-thin.woff") format("woff"), url("alexandria-thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alexandria";
  src: url("alexandria-extralight.woff") format("woff"), url("alexandria-extralight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alexandria";
  src: url("alexandria-light.woff") format("woff"), url("alexandria-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alexandria";
  src: url("alexandria-regular.woff") format("woff"), url("alexandria-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alexandria";
  src: url("alexandria-medium.woff") format("woff"), url("alexandria-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alexandria";
  src: url("alexandria-semibold.woff") format("woff"), url("alexandria-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alexandria";
  src: url("alexandria-bold.woff") format("woff"), url("alexandria-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alexandria";
  src: url("alexandria-extrabold.woff") format("woff"), url("alexandria-extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alexandria";
  src: url("alexandria-black.woff") format("woff"), url("alexandria-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}