/*^Arrangement*/
main {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  overflow: hidden;
  padding: 20px 30px;
  user-select: none;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  margin-top: 2vw;
}

p {
  margin: 0;
}